{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="col-md-12">
    <div class="portlet box red">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-reorder"></i> Edit User Details
            </div>
        </div>
        <div class="portlet-body form">
            <form class="horizontal-form" id="client_update_form" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="user_id" value={{request.user.id}}>
                <input type="hidden" id="client_id" name="client_id">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-6">
                          <div class="form-group field">
                              <label for="{{ user_form.username.id_for_label }}"><b>First Name:</b>
                                  <span class="special_class">*</span></label>
                              <input autocomplete="off" type="text" name="fname" id="fname" 
                                class="form-control" maxlength="149" required /> 
                          </div>
                        </div> 
                        <div class="col-md-6">
                          <div class="form-group field">
                              <label for="{{ user_form.username.id_for_label }}"><b>Last Name:</b>
                                  <span class="special_class">*</span></label>
                              <input autocomplete="off" type="text" name="lname" id="lname" 
                                class="form-control" maxlength="149" required /> 
                          </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                          <div class="form-group field">
                                <label for="{{ user_form.username.id_for_label }}"><b>Username:</b>
                                    <span class="special_class">*</span></label>
                                {% comment %} <p autocomplete="off" type="text" name="username_p" id="username_p" 
                                    class="form-control" maxlength="149"> <p/>  {% endcomment %}
                                <input autocomplete="off" type="text" name="username" 
                                    id="username" disabled="disabled"
                                    class="form-control" maxlength="149" required /> 
                          </div>
                        </div>  
                    </div>

                    {% comment %} <div class="row">
                        <div class="col-md-6">
                          <div class="form-group field">
                              <label for="{{ user_form.username.id_for_label }}"><b>Password:</b>
                                  <span class="special_class">*</span></label>
                              <input autocomplete="off" type="password" name="password1" id="password1" 
                                class="form-control" maxlength="149" required /> 
                          </div>
                        </div> 
                        <div class="col-md-6">
                          <div class="form-group field">
                              <label for="{{ user_form.username.id_for_label }}"><b>Confirm Password:</b>
                                  <span class="special_class">*</span></label>
                              <input autocomplete="off" type="password" name="password2" id="password2" 
                                class="form-control" maxlength="149" 
                                onchange="password_check()" required/> 
                          </div>
                        </div>
                    </div> {% endcomment %}

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group field">
                                <label for="{{ user_form.last_name.id_for_label }}"><b>Mobile No (format: 01xxxxxxxxx):</b><span
                                        class="special_class">*</span></label>
                                <input type="tel" autocomplete="off" name="phone_no" id="phone_no"
                                    pattern="01[0-9]{9}$" maxlength="11"
                                    class="form-control" required>
                                <span class="help-block">{{ user_form.last_name.errors.as_text }}</span>
                            </div>
                        </div>
                        {% comment %} <div class="col-md-6">
                            <div class="form-group field">
                                <label><b>Gender:</b><span
                                        class="special_class">*</span></label>
                                <select class="form-control" autocomplete="off" id="gender" name="gender" required>
                                    <option value="">Select a Gender</option>

                                </select>
                                <span class="help-block">{{ user_form.email.errors.as_text }}</span>

                            </div>
                        </div> {% endcomment %}
                    </div>
                    
                    {% comment %} <div class="row">
                        <div class="col-md-6">
                            <div class="form-group field">
                                <label for="{{ user_form.password.id_for_label }}"><b>Education:</b></label>
                                <select class="form-control" id="education" autocomplete="off"  name="education"
                                    name="organisation_name">
                                    <option value="">Select Education</option>
                                </select>
                                <span class="help-block">{{ user_form.password.errors.as_text }}</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group field">
                                <label for="{{ user_form.password_repeat.id_for_label }}"><b>Type:</b><span
                                        class="special_class">*</span></label>
                                <select class="form-control" id="client_type" name="client_type" autocomplete="off"
                                    name="organisation_name" required>
                                    <option value="">Select a Type</option>
                                </select>
                                <span class="help-block">{{ user_form.password_repeat.errors.as_text }}</span>
                            </div>
                        </div>
                    </div> {% endcomment %}

                    <div class="row">
                        <div class="col-md-6">
                            <div class="ui-widget form-group field">
                                <label><b>Division:</b><span
                                        class="special_class">*</span></label>
                                <select class="form-control" id="division" name="division" autocomplete="off"
                                    onchange="loadDistricts(this);" required>
                                    <option value="">Select a Division</option>
                                </select>
                                <span class="help-block">{{ profile_form.organisation_name.errors.as_text }}</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group field">
                                <label><b>District:</b><span
                                        class="special_class">*</span></label>
                                <select class="form-control" name="district"
                                    id="district" onchange="loadUpazilas(this);" required>
                                    <option value="">Select</option>
                                </select>
                                <span class="help-block">{{ profile_form.organisation_name.errors.as_text }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="ui-widget form-group field">
                                <label><b>Upazila:</b><span
                                        class="special_class">*</span></label>
                                <select class="form-control" id="upazila" name="upazila"
                                    name="organisation_name" onchange="loadUnions(this);" required>
                                    <option value="">Select</option>

                                </select>
                                <span class="help-block">{{ profile_form.organisation_name.errors.as_text }}</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group field">
                                <label><b>Union:</b><span
                                        class="special_class">*</span></label>
                                <select class="form-control" name="unions" id="unions" required>
                                    <option value="">Select</option>
                                </select>
                                <span class="help-block">{{ profile_form.organisation_name.errors.as_text }}</span>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group field">
                                <label for="{{ user_form.last_name.id_for_label }}"><b>Address:</b><span
                                        class="special_class">*</span></label>
                                <textarea autocomplete="off" type="text" name="address" 
                                    id="address" 
                                    class="form-control" required></textarea>
                                <span class="help-block">{{ user_form.last_name.errors.as_text }}</span>
                            </div>
                        </div>
                    </div>

                    {% comment %} <div class="row">
                        <div class="col-md-6">
                            <div class="form-group field">
                                <label><b>Profile Picture:</b></label>
                                <input type="file" name="profile_picture_file" id="profile_picture_file"
                                    class="form-control" onchange="encodeImageFileAsURL(this, 'profile_picture')">
                                <span class="help-block">{{ profile_form.mobile_no.errors.as_text }}</span>
                            </div>
                        </div>
                    </div> {% endcomment %}

                 {% comment %} <input type='hidden' name="profile_picture" id="profile_picture" value=""> {% endcomment %}
                </div>
                <div class="form-actions">
                    <button type="submit"  class="btn red pull-right">Update</button>
                    <button onclick="history.go(-1);" style="margin-right:10px;" type="button"
                        class="btn default pull-right">Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>



{% endblock %}

{% block additional-javascript %}
<script type="text/javascript"
    src="{% static 'assets/plugins/bootstrap-multiselect/bootstrap-multiselect.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/plugins/jquery-validation.js' %}"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
<!--Datatable -->
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>dcomment %}
<!--DT ends-->
    <script type="text/javascript" src="{% static 'js/members.js' %}"></script>
<script>
    var csrftoken = '{{ csrf_token }}';
    $(document).ready(function () {
        populateEducation();
        populateClientType();
        populateGender();
        populateDivision();

        fetchMemberData({{ client_id }});

    });
</script>
{% endblock %}

{% block additional-headers %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<link href="https://cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css" rel="stylesheet">

<head>
    <title>
        {% block title %} Update Member {% endblock %}
    </title>
</head>
<style>
    .data-table-container table {
        clear: both;
        display: table !important;
        overflow-x: auto;
        width: 98% !important;
    }

    .highlight {
        background-color: #D9EDF7;
    }

    .table th,
    .table td {
        border: 1px solid #dddddd !important;
    }

    tr:hover {
        background-color: #ffff99;
    }

    /* Customize style for jquery-ui*/
    .ui-widget-overlay {
        background: #333;
        opacity: 0.7;
    }

    .ui-dialog {
        height: 400px;
        width: 515px;
        top: 98px;
        left: 337px;
    }
</style>

{% endblock %}